/*Melissa Polhamus*/

/*OVERALL PAGE SETUP*/

* {
	box-sizing: border-box;
}

body{
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Hind Guntur', sans-serif;
	font-size: 100%;
	font-weight: 300;
	/*background-color: #EBE8E6;*/

	
}

body, html{
	height: 100%;
}

section{
	margin-bottom: 400px;
}

@media handheld, only screen and (max-width: 767px){
	section{
	margin-bottom: 150px;}
}


.content{
	position: relative;
}

.height100{
	height:100%;
	position: relative;
}

.col-1-1{
	position: relative;
	z-index: 200;
}

.col-1-2{
	position: relative;
}

.logo-position{
	position: absolute;
	bottom: 7%;
}

.grid{
	overflow: visible;
	max-width: 1300px;
}

/*END OVERALL PAGE SETUP*/


/*CONTACT PAGE*/

#contact-size{
	width: 85%;
	position: fixed;
	right: 20px;
	bottom: 20px;
	/*margin-left: 20%;*/
}

@media handheld, only screen and (max-width: 767px){
	#contact-size{
	width: 90%;}
}

@media screen and (min-width: 1600px){
	#contact-size{
	width: 60%;}
}



/* END  contact page */



/*LANDING PAGE MAIN LOGO/BIO*/

.MP-logo img{
	cursor: pointer;
}

.MP-logo-hidden{
	display: none;
}

.black-logo-hidden{
	display:none;
}


.white-logo-hidden{
	display: none;

}

.white-logo-visible{
	display: inherit;
}


.MP-bio-hidden{
	display: none;
}

.gray-background{
	background-color: #EBE8E6;
}

/*------BIO------*/

.bio-txt{
	padding-left: 20px; 
	padding-right: 50px;
}

.bio-txt h1{

	font-size: 7em;
	font-weight: 700;
	line-height: 90%;
	letter-spacing: -3px;
	margin: 0;

}

.bio-txt h2{
	font-size: 2em;
	font-weight: 700;
	margin: 0;
	margin-top: .5em;

}



@media (max-width: 979px) and (min-width: 768px){
	.bio-txt h1{
		font-size: 5em;
		font-weight: 700;
		line-height: 90%;
		margin: 0;
	}

	.bio-txt h2{
		font-size: 1.75em;
		font-weight: 700;
		margin: 0;
		margin-top: .5em;
	}

}

@media (max-width: 767px){
	.bio-txt h1{
		font-size: 3em;
		font-weight: 700;
		line-height: 90%;
		letter-spacing: -.5px;
		margin: 0;
	}

	.bio-txt h2{
		font-size: 1.5em;
		font-weight: 900;
		margin: 0;
		margin-top: .5em;
	}

}

@media screen and (min-width: 1600px){
	.bio-txt h1{
		font-size: 10em;
		font-weight: 700;
		line-height: 90%;
		letter-spacing: -3px;
		margin: 0;
	}

	.bio-txt h2{
		font-size: 2em;
		font-weight: 700;
		margin: 0;
		margin-top: .5em;
	}

}





/*
@media handheld, only screen and (max-width: 767px){

}
*/



/*LANDING PAGE MAIN LOGO/BIO*/


/*NAVIGATION*/

nav {
  background-color: white;
  position: fixed;
  top: 0;
  /*width: 100%;*/
  z-index: 400;
  display: none;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 13px;
  /*text-align: right;*/
}

nav a {
  color: black;
  font-size: .5em;
  font-weight: 600;
 
}

nav img{
	width: 8%;
	box-shadow: none;
	display: inline-block;

}

.main-nav-scrolled{
	display: inherit;
}

@media handheld, only screen and (max-width: 767px) {
	nav img{ width: 25%;}

}

/*--- FOOTER contact---*/

footer a{
	background-color: white;
  	position: fixed;
  	bottom: 0;
  	right: 0;
  	width: 100%;
  	z-index: 400;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	padding-right: 30px;
  	text-align: right;
  	font-size: .75em;
  	font-weight: 700;
  	display: none;
  	color: black;
}

.footer-scrolled{
	display: inherit;
}



/*--- nav on interior pages---*/

.nav-interior-pages{
	background-color: white;
  	position: fixed;
  	top: 0;
  	/*width: 100%;*/
  	z-index: 400;
  	padding-left: 20px;
  	padding-bottom: 13px;
  	padding-top: 13px;
}

.nav-interior-pages img{
	width: 8%;
	box-shadow: none;
	display: inline-block;
	}

.top-margin{
	margin-top: 50px;
}

@media handheld, only screen and (max-width: 767px) {
	.nav-interior-pages img{ width: 25%;}
	.top-margin{ margin-top: 30px;}
	}






/*END NAVIGATION*/


/*MORE INFO / NEXT BUTTONS*/

.triangle, .triangle-next{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 115px 100px;
	border-color: transparent transparent #000000 transparent;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.more-info-txt{
	color: white;
	font-size: .8em;
	line-height: 120%;
	text-align: right;
	position: absolute;
	bottom: 5px;
	right: 7px;
	display: inherit;
}

.more-info-button:hover .triangle{
		border-color: transparent transparent #F7F307 transparent;
}

.more-info-button:hover .more-info-txt{
	color: black;
	font-weight: 300;
}

.next-button:hover .triangle-next{
	border-color: transparent transparent #FFFFFF transparent;
}

.next-button:hover .next-button-txt{
	color: black;
	font-weight: 300;
	}

a{
	text-align: right;
	text-decoration: none;
	color: black;
}

/*-------- more info large text------*/

p.more-like-this{
	font-size: 7em;
	font-weight: 700;
	line-height: 75%;
	letter-spacing: -3px;
	text-align: left;
	color: black;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 10px solid black;
}

.line-arrow{
	fill: none;
	stroke: black;
	stroke-width: 3px;
	display: inline-block;

}

i.fa-angle-right{
	font-size: 1em;
	padding-left: 20px;
}

i.fa-angle-right:hover{
	color: yellow;
}


#Y-yandp{
	letter-spacing: -10px;
}


/*END -- MORE INFO / NEXT BUTTONS*/


/*COMING SOON PAGE*/

p.coming-soon{
	font-size: 7em;
	font-weight: 700;
	line-height: 75%;
	letter-spacing: -3px;
	text-align: left;
	color: black;
	margin-bottom: 10px;

}

/*COMING SOON PAGE*/


/*PROJECT OPENER / DESCRIPTION*/

.main-image{
	padding-right: 0px;
	box-shadow: none;
	margin-top: 30px;
}

.project-summary{
	background-color: white;
	color: black;
	border-style: solid;
	border-width: 10px;
	font-size: 1em;
	line-height: 140%;
	padding: 20px;
	position: absolute;
	margin-left: 20px;
	bottom: 0px;
	width: 45%;
}

.project-summary-in-col{
	width: 100%;
	margin-left: 0px;
}

.all-cap-bold{
	font-weight: 700;
	text-transform: uppercase;
}


.project-name{
	margin: 0;
}

.project-description{
	margin-top: 5px;
	margin-bottom: 0;
}





@media handheld, only screen and (max-width: 767px) {
	.project-summary{
		position: relative;
		width: 93%;
		font-weight: 400;
		margin: 15px;
	}
}


/*------projects summary no overlap-----*/

.project-summary-no-overlap{
	/*background-color: black;
	color: white;
	font-size: .875em;
	margin: 0;
	padding: 20px;*/
	position: relative;
	/*bottom: 0px;
	width: 45%;*/
}

@media handheld, only screen and (max-width: 767px) {
	.project-summary-no-overlap{
		position: relative;
		width: 93%;
	}

	.project-summary-in-col{
	width: 100%;
	margin-left: 0px;
}
}


/*END - PROJECT OPENER / DESCRIPTION*/


/*PROJECT ELEMENTS*/


img{
	width: 100%;
	box-shadow: 7px 10px 10px #C3C2C4;
	display: block;
}

.image-margin{
	margin-bottom: 20px;
}

.no-shadow{
	box-shadow: none;
}

/*-----image slider-----*/

.image-slider{
	box-shadow: 7px 10px 10px #C3C2C4;
	z-index: 5;
}

/*-------video players---------*/

.video-js {
	width: 100%;
	height: 310px;
}


.full-screen-video{
	width: 100%;
	display: block;

}

/*END - PROJECT ELEMENTS*/










