/*Melissa Polhamus*/

/*OVERALL PAGE SETUP*/

* {
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 100%;
	font-weight: 100;
	
}

body, html{
	height: 100%;
}

section{
	margin-bottom: 150px;
}

@media handheld, only screen and (max-width: 767px){
	section{
	margin-bottom: 75px;}
}


.content{
	position: relative;
}

.height100{
	height:100%;
	position: relative;
}

.col-1-1{
	position: relative;
	z-index: 200;
}

.col-1-2{
	position: relative;
}

.logo-position{
	position: absolute;
	bottom: 7%;
}

.grid{
	overflow: visible;
}

/*END OVERALL PAGE SETUP*/


/*NAVIGATION*/

nav {
  background-color: white;
  position: fixed;
  top: 0;
  /*width: 100%;*/
  z-index: 5;
  /*margin-left: 20px;*/
  display: none;
  padding-left: 20px;
  padding-bottom: 13px;
  padding-top: 13px;
  /*text-align: right;*/
}

nav a {
  color: black;
  font-size: .5em;
  font-weight: 600;
 /* padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;*/
  /*display: inline-block;*/ 
}

nav img{
	width: 8%;
	box-shadow: none;
	display: inline-block;

}

.main-nav-scrolled{
	display: inherit;
}

@media handheld, only screen and (max-width: 767px) {
	nav img{ width: 25%;}

}

/*END NAVIGATION*/


/*MORE INFO / NEXT BUTTONS*/

.triangle, .triangle-next{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 115px 100px;
	border-color: transparent transparent #000000 transparent;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.more-info-txt{
	color: white;
	font-size: .8em;
	text-align: right;
	position: absolute;
	bottom: 5px;
	right: 7px;
	display: inherit;
}

.more-info-button:hover .triangle{
		border-color: transparent transparent #F7F307 transparent;
}

.more-info-button:hover .more-info-txt{
	color: black;
	font-weight: 300;
}

.next-button:hover .triangle-next{
	border-color: transparent transparent #FFFFFF transparent;
}

.next-button:hover .next-button-txt{
	color: black;
	font-weight: 300;
	}

a{
	text-align: right;
	text-decoration: none;
}

/*END -- MORE INFO / NEXT BUTTONS*/


/*PROJECT OPENER / DESCRIPTION*/

.main-image{
	padding-right: 0px;
	box-shadow: none;
	margin-top: 30px;
}

.project-summary{
	background-color: black;
	color: white;
	font-size: .875em;
	margin: 0;
	padding: 20px;
	position: absolute;
	bottom: 0px;
	width: 45%;
}

.project-name{
	margin: 0;
}

.project-description{
	margin-top: 5px;
	margin-bottom: 0;
}



@media handheld, only screen and (max-width: 767px) {
	.project-summary{
		position: relative;
		width: 100%;
	}
}

.all-cap-bold{
	font-weight: 700;
	text-transform: uppercase;
}

/*END - PROJECT OPENER / DESCRIPTION*/


/*PROJECT ELEMENTS*/


img{
	width: 100%;
	box-shadow: 7px 10px 10px #C3C2C4;
	display: block;
}

.image-margin{
	margin-bottom: 20px;
}

.no-shadow{
	box-shadow: none;
}


.video-js {
	width: 100%;
	height: 310px;
}

.image-slider{
	box-shadow: 7px 10px 10px #C3C2C4;
}

/*END - PROJECT ELEMENTS*/


/*email graphic contact page*/
#contact-size{
	width: 90%;
}










