/*Melissa Polhamus*/

/*OVERALL PAGE SETUP*/

* {
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 100;
	/*background-color: #EBE8E6;*/

	
}

body, html{
	height: 100%;
}

section{
	margin-bottom: 150px;
}

@media handheld, only screen and (max-width: 767px){
	section{
	margin-bottom: 75px;}
}


.content{
	position: relative;
}

.height100{
	height:100%;
	position: relative;
}

.col-1-1{
	position: relative;
	z-index: 200;
}

.col-1-2{
	position: relative;
}

.logo-position{
	position: absolute;
	bottom: 7%;
}

.grid{
	overflow: visible;
}

/*END OVERALL PAGE SETUP*/


/*LANDING PAGE MAIN LOGO/BIO*/

.MP-logo img{
	cursor: pointer;
}

.MP-logo-hidden{
	display: none;
}

.black-logo-hidden{
	display:none;
}


.white-logo-hidden{
	display: none;

}

.white-logo-visible{
	display: inherit;
}

.MP-bio{
	padding-left: 20px; 
	font-size: 7em;
	font-weight: 900;
}

.MP-bio-hidden{
	display: none;
}

/*.MP-bio-open{
	display: inherit;
}

.MP-bio img{
	width: 100%;
}*/

.gray-background{
	background-color: #EBE8E6;
}




/*NAVIGATION*/

nav {
  background-color: white;
  position: fixed;
  top: 0;
  /*width: 100%;*/
  z-index: 400;
  display: none;
  padding-left: 20px;
  padding-bottom: 13px;
  padding-top: 13px;
  /*text-align: right;*/
}

nav a {
  color: black;
  font-size: .5em;
  font-weight: 600;
 
}

nav img{
	width: 8%;
	box-shadow: none;
	display: inline-block;

}

.main-nav-scrolled{
	display: inherit;
}

@media handheld, only screen and (max-width: 767px) {
	nav img{ width: 25%;}

}

/*--- nav on interior pages---*/

.nav-interior-pages{
	background-color: white;
  	position: fixed;
  	top: 0;
  	/*width: 100%;*/
  	z-index: 400;
  	padding-left: 20px;
  	padding-bottom: 13px;
  	padding-top: 13px;
}

.nav-interior-pages img{
	width: 8%;
	box-shadow: none;
	display: inline-block;
	}

.top-margin{
	margin-top: 50px;
}

@media handheld, only screen and (max-width: 767px) {
	.nav-interior-pages img{ width: 25%;}
	.top-margin{ margin-top: 30px;}
	}

/*END NAVIGATION*/


/*MORE INFO / NEXT BUTTONS*/

.triangle, .triangle-next{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 115px 100px;
	border-color: transparent transparent #000000 transparent;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.more-info-txt{
	color: white;
	font-size: .8em;
	text-align: right;
	position: absolute;
	bottom: 5px;
	right: 7px;
	display: inherit;
}

.more-info-button:hover .triangle{
		border-color: transparent transparent #F7F307 transparent;
}

.more-info-button:hover .more-info-txt{
	color: black;
	font-weight: 300;
}

.next-button:hover .triangle-next{
	border-color: transparent transparent #FFFFFF transparent;
}

.next-button:hover .next-button-txt{
	color: black;
	font-weight: 300;
	}

a{
	text-align: right;
	text-decoration: none;
}

/*END -- MORE INFO / NEXT BUTTONS*/


/*PROJECT OPENER / DESCRIPTION*/

.main-image{
	padding-right: 0px;
	box-shadow: none;
	margin-top: 30px;
}

.project-summary{
	background-color: black;
	color: white;
	font-size: .875em;
	margin: 0;
	padding: 20px;
	position: absolute;
	bottom: 0px;
	width: 45%;
}

.project-name{
	margin: 0;
}

.project-description{
	margin-top: 5px;
	margin-bottom: 0;
}



@media handheld, only screen and (max-width: 767px) {
	.project-summary{
		position: relative;
		width: 100%;
	}
}

.all-cap-bold{
	font-weight: 700;
	text-transform: uppercase;
}

/*------projects summary no overlap-----*/

.project-summary-no-overlap{
	background-color: black;
	color: white;
	font-size: .875em;
	margin: 0;
	padding: 20px;
	position: relative;
	bottom: 0px;
	width: 45%;
}

@media handheld, only screen and (max-width: 767px) {
	.project-summary-no-overlap{
		position: relative;
		width: 100%;
	}
}


/*END - PROJECT OPENER / DESCRIPTION*/


/*PROJECT ELEMENTS*/


img{
	width: 100%;
	box-shadow: 7px 10px 10px #C3C2C4;
	display: block;
}

.image-margin{
	margin-bottom: 20px;
}

.no-shadow{
	box-shadow: none;
}

/*-----image slider-----*/

.image-slider{
	box-shadow: 7px 10px 10px #C3C2C4;
	z-index: 5;
}

/*-------video players---------*/

.video-js {
	width: 100%;
	height: 310px;
}


.full-screen-video{
	width: 100%;
	display: block;

}

/*END - PROJECT ELEMENTS*/


/*email graphic contact page*/
#contact-size{
	width: 90%;
}










